<html lang=en>
<head>
  <title>nihalsahu.net</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="nihalsahu.net">
  <meta property="og:site-name" content="nihalsahu.net">
  <meta property="og:url" content="https://nihalsahu.net">
  <meta property="og:description" content="Nihal Sahu's personal website.">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@annihalated">
  <link rel="canonical" href="https://nihalsahu.net">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<h1 id=site-title>Nihal Sahu</h1>
<div id="home">

  <p>I'm a Research Fellow at <a href="https://vidhilegalpolicy.in">Vidhi</a>. Most of the time, I'm <a href="/work/">working</a> on making Indian law and the legal system simpler, clearer, and more effective.</p>
{%- for post in collections.post -%}
  <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
  <p>{{ post.data.description }}</p>
{%- endfor -%}
</div>
{% include "partials/footer.njk" %}
</body>
</html>
