* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
  max-width: 640px;
  min-width: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  margin: 0 auto;
  font-size: 18px;
  margin-top: 1rem;
  padding: 0.9em;
  line-height: 150%;
  padding-bottom: 50px;
}

small {
  font-size: smaller;
}

img {
  max-height: 100%;
  max-width: 90%;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}


h1 {
  font-size: 2.4em;
}

#site-title {
  font-size: 1.4em;
}
h2 {
  font-size: 1.4em;
  margin-top: 1.7em;
  margin-bottom: 0.5em;
}

h1, h2 {
  font-family: Helvetica, Arial, sans-serif; 
}

ul, li {
  padding: 0;
  margin-top: 0.7rem;
  line-height: 1.5;
}

a, a:visited {
  color: #2255CC;
  text-decoration: none;
  border-bottom: 1px dotted #222;
  margin-bottom: -1px;
}

#home a, #home a:visited {
  color: #222222;
}

/* Quotes */
blockquote {
  margin-right: 2em;
  margin-left: .6em;
  border-left: 2px solid #ccc;
  padding-left: .8em;
  font-size: .9em;
}

/* Code blocks */
pre { 
  white-space: pre-wrap; 
  margin-left: 1em;
}

/* LaTeX logo */
.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

hr {
  display: block;
  text-align: center;
  margin: 25px auto;
  width: 100%;
  border: none;
}

hr:after {
  content: "\2042";
  font-size: 1em;
}

footer p {
  text-align: right;
  font-size: 0.8rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #DDDDDD;
  }
  a, a:visited{
    text-decoration: none;
    color: #6699EE;
    border-bottom: 1px dotted #47e;
    margin-bottom: -2px;
  }
  #home a, #home a:visited {
    color: #DDDDDD;
    border-bottom: 1px dotted #bbb;
    margin-bottom: -2px;
  }

}
