<html lang=en>
<head>
  <title>{{ title }} | nihalsahu.net</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="{{ title }} | nihalsahu.net">
  <meta property="og:site-name" content="nihalsahu.net">
  <meta property="og:url" content="https://nihalsahu.net{{ page.url }}">
  <meta property="og:description" content="{{ description }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@annihalated">
  <link rel="canonical" href="https://nihalsahu.net{{ page.url }}">
  <link rel="stylesheet" href="/style.css">
</head>
<head>
  <title>{{ title }} | nihalsahu.net</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <a href="/">Return to homepage</a>
  <h1>{{ title }}</h1>
  {{ content | safe }}
  {% include "./partials/footer.njk" %}
</body>
</html>
