<html lang=en>
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <a href="/">Return to homepage</a>
  <h1>{{ title }}</h1>
  {{ content | safe }}
  <footer>
    <p>Made with <a href="https://www.11ty.dev">Eleventy</a>. Hosted on <a href="https://netlify.com">Netlify</a>.</p>
  </footer>
</body>
</html>
